
body h1 {
    color: #012B5A;
    text-align: center;
}
body p {
    color: #0355B1;
}
body a {
    color: #BC2AD5;
}
body ul {
    color: #D69AE0;
    list-style: square;
}
img.inContent {
    border-radius: 8px;
    max-height: 50%;
    max-width: 100%;
    border: 4px solid#0355B1;
    display: flex;
}
.whatIsASmartFridge {
    border: 10px ridge rgb(192, 192, 192);
    background-image: linear-gradient(180deg, white, #dddddd 40%, #cccccc);
    padding: 0.5rem;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 90%;
}
.inlinetextnimage {
  background-color: #ffffff;
  border: 5px solid #BC2AD5;
  display: flex;
  align-items: center;
}
.imageleft {
  float: left;
  width: 30%;
  height: 30%;
  padding: 10px;
}
.metal{
  text-align: center;
  width: 100%;
  background: linear-gradient(-30deg,#cacaca, #919191,#cacaca,#919191,#cacaca, #919191,#cacaca,#919191,#cacaca);
}
.particle-render{
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}