body {
    background-color: #FFF1AE;
}
body h1 {
    color: #012B5A;
    text-align: center;
}
body p {
    color: #0355B1;
}
body a {
    color: #BC2AD5;
}
body ul {
    color: #D69AE0;
    list-style: square;
}
img.inContent {
    border-radius: 8px;
    max-width: 50%;
    max-height: 50%;
    border: 4px solid#0355B1;
}
.whatIsASmartFridge {
    display: grid;
}